.DS_Store
Brewfile.lock.json

**/.luarc.json
**/lazy-lock.json

tmux/.config/tmux/plugins/*
!tmux/.config/tmux/plugins/tpm

**/*.zwc
**/*.zwc.old

git/.config/git/config.work
git/.config/git/config.personal
