zmodule TheCrabilia/zim-modules --root input
zmodule TheCrabilia/zim-modules --root prompt

zmodule mroth/evalcache
zmodule chrissicool/zsh-256color
zmodule zsh-users/zsh-autosuggestions
zmodule REALERvolker1/onedark-pro-zsh-syntax-highlighter --source one-dark-syntax-highlighter.zsh
zmodule zsh-users/zsh-syntax-highlighting
